{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Mi Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'autores' %}">Autores</a></li>
                <li><a href="{% url 'autor_nuevo' %}">Añadir Autor</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block contenido %}{% endblock %}
    </main>
</body>
</html>
