{% extends 'blog/base.html' %}

    {% block titulo%} INICIO {% endblock %}

    {% block contenido %}

    <p>Listado libros:</p>
    <ul>
        {% for e in entradas %}
        <li><a href="{% url 'detalle_post' pk=e.pk %}">{{e.titulo}} ({{e.autor}})</a></li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'autores' %}">Ver autores</a></p>

    <form method="GET" action="">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre">
    
    <button type="submit">Enviar</button>
</form>

    <p>Listado autores:</p>
    <ul>
        {% for a in autor %}
        <li><a href="{% url 'post_autor' autor_pk=a.pk %}">{{a.nombre}} </a></li>
        {% endfor %}
    </ul>

    {% endblock %}