{% extends "app/base.html" %}

{% block titulo%}Lista de Ingredientes{% endblock%}

{% block contenido %}
    <h2>Lista de Ingredientes</h2>

    <form method="GET" action="{% url 'ingredientes_lista' %}"> 
        <label for="Categoria">Categoria :</label>
        {{ form.categoria }}
        <label for="Inicial">Inicial :</label>
        {{ form.inicial_nombre }}
        
        <button type="submit">Filtrar</button>
    </form>

    <h3>Ingredientes Encontrados: </h3>
        <ul>
        {% for ingrediente in ingredientes %}
            <li>
                {{ ingrediente.nombre }}
            </li>
        {% endfor %}
        </ul>
    <a href="{% url 'ingredientes_lista' %}">Reiniciar</a>
{% endblock contenido %}