{% extends "app/base.html" %}

{% block titulo%}Lista de Ingredientes{% endblock%}

{% block contenido %}
<h3>Ingredientes: </h3>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Mercado Habitual</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for ingrediente in ingredientes %}
        <tr>
            <td>{{ ingrediente.id }}</td>
            <td>{{ ingrediente.nombre }}</td>
            <td>{{ ingrediente.categoria.nombre }}</td>
            <td>{{ ingrediente.get_mercado_habitual_display }}</td>
            <td>{{ ingrediente.descripcion }}</td>

            <td class="acciones">

                <a href="{% url 'ingrediente_mostrar' ingrediente.id %}" title="Ver detalle">
                    <i class="fa-solid fa-eye"></i>
                </a>

                <a href="{% url 'ingrediente_editar' ingrediente.id %}" title="Editar">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>

                <a href="{% url 'ingrediente_eliminar' ingrediente.id %}" title="Eliminar">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'ingrediente_nuevo' %}" title="Editar"><button>Crear Nuevo Ingrediente</button></a>
{% endblock contenido %}