{% extends "app/base.html" %}

{% block titulo%}Relaciones{% endblock%}

{% block contenido %}


<h1>{{ receta.nombre }}</h1>

<table>
    <thead>
        <tr>
            <th>Ingrediente</th>
            <th colspan="2">Cantidad</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for relacion in ingrediente_receta %}
        <tr>
            <td>{{ relacion.ingrediente.nombre }}</td>
            <td>{{ relacion.cantidad }}</td>
            <td>{{ relacion.medida }}</td>
            <td>
                <form action="{% url 'receta' receta.pk %}" method="post">
                    {% csrf_token %}
                    {{ form.cantidad}}
                    <input type="hidden" name="ingrediente_id" value="{{ relacion.ingrediente.id }}">
                    <button type="submit"><i class="fa-solid fa-trash-can"></i></button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h1>AÑADIR INGREDIENTES</h1>

                <form action="{% url 'receta' receta.pk %}" method="POST">
                    {% csrf_token %}
                    {{ formulario.as_p }}
                    <button type="submit"><i class="fa-solid fa-plus"></i></button>
                </form>
            </td>
<a href="{% url 'relaciones' %}">Volver a relaciones</a>

{% endblock contenido %}